*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #252e28;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator{
    width: 400px;
    height: 500px;
    background-color: #1a1a1a;
    border-radius: 15px;
    padding: 1rem;
    flex-direction: column;
    box-shadow: 7px 7px rgb(7, 7, 7);
}

.output{
    width: 100%;
    height: 100px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.previous{
    width: 100%;
    height: 25%;
    padding: 4px;
    display: flex;
    align-items: center;
}

.current{
    width: 100%;
    height: 75%;
    font-size: 38px;
    padding: 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.numpad{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.icon{
    width: 23%;
    height: 19%;
    background-color: black;
    color: #fff;
    font-size: 26px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.operator{
    background-color: #d89802;
    color: #000000;
    font-size: 26px;
}

.equal{
    width: 47%;
    height: 19%;
    background-color: #006eff;
    color: #fff;
}